@import url('reset.css');
@import url('fuentes.css');

/*--- Estilos Generales ---*/
body {
	background: #2d2d2d;
	font-family: Arial, Helvetica, Sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

#wrap {
	width: 960px;
	margin: auto;
	clear: both;
}


/*-- Header --*/
header {
	width: 100%;
	float: left;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e4e0e0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(linear, left top, left bottom color-stop(0%,#ffffff), color-stop(100%,#e4e0e0)); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(top, #ffffff 0%,#e4e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e4e0e0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e4e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#e4e0e0',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;
}

#subheader {
	width: 960px;
	margin:auto;
}

#logotipo {
	float: left;
	width: 300px;
	padding: 10px 0px;
}

#logotipo a {
	font-family: sourcesans-light;
	font-size: 50px;
	color: #000;
}

#logotipo a:hover {
	text-decoration: none;
}

/*Menu*/

header #subheader nav {
	float:left;
	width: 660px;
	padding: 30px 0px;
	text-align: right;
}

header #subheader nav ul li {
	display: inline;
	font-family: sourcesans;
}

header #subheader nav ul li a {
	color: #000;
	font-size: 18px;
	padding: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

header #subheader nav ul li a:hover {
	color: #fff;
	background: #1798af;
	text-decoration: none;
}

/*--- Main  ---*/
#main {
	width: 100%;
	margin: 20px 0px 0px 0px;
	float: left;
}

/*Slideshow*/

.contenedor-slider {
	margin-top: 40px;
	margin-left: 205px;
	width: 920px;
	height: 260px;
	float: left;
	border:solid 10px white;
	overflow: hidden;
	box-shadow: 0 0 0 10px #fff,
				0 15px 50px;
}

.slider {
	display: flex;
	width: 500%;
}

.slider_section {
	width: 100%
}

.slider_img {
	display: block;
	width: 100%;
	height: 100%;
}

.btn-prev, .btn-next {
	width: 40px;
	height: 40px;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	bottom: 380px;
	line-height: 40px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	font-family: monospace;
	cursor: pointer;
}

.btn-prev {
	margin-left: 210px;
}

.btn-next {
	margin-right: 210px;
}

.btn-prev:hover, .btn-next:hover {
	background: white;
}

.btn-prev {
	left: 10px;
}

.btn-next {
	right: 10px;
}

#slider img{
	width: 920px;
	height: 260px;
}

/*--Bienvenidos--*/
#bienvenidos {
	width: 920px;
	float: left;
	padding: 20px;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #46793a 0%, #2d4c1e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1e5799 0%,#46793a 0%,#2d4c1e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1e5799 0%,#46793a 0%,#2d4c1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#2d4c1e',GradientType=0 ); /* IE6-9 */
	margin: 20px 0px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 2px 3px #000;
	-moz-box-shadow:0px 2px 3px #000;
	-webkit-box-shadow: 0px 2px 3px #000;
}

#bienvenidos article h3 {
	font-family: sourcesans-light;
	color: #fff;
	font-size: 40px;
	margin-bottom: 10px;
}

#bienvenidos article {
	color: #fff;
	line-height: 27px;
}

/*--Contenido---*/
#contenido {
	width: 700px;
	float: left;
}

#contenido article {
	float: left;
	margin-bottom: 20px;
}

#contenido article .titulo {
	font-size: 22px;
	font-family: sourcesans;
	color: #fff;
}

#contenido article .fecha{
	font-size: 14px;
	color: #1798af;
	margin-bottom: 5px;
}

#contenido article .thumb{
	width: 220px;
	height: 150px;
	float: left;
	margin: 0px 10px 10px 0px;
}

#contenido article p {
	color: #8c8c8c;
	font-size: 14px;
	text-align: justify;
}

/*--Sidebar--*/
aside {
	width: 220px;
	float: left;
	margin-left: 20px;
	background: #4d78b3;
	padding: 10px 10px 0px 10px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow:0px 2px 2px #000;
}

aside .widget {
	margin-bottom: 10px;
	float: left;
}

aside .widget > h3 {
	background: #fff;
	color: #4d78b3;
	width: 220px;
	padding: 10px 0px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

aside .widget a {
	color: #fff;
}

aside .widget ul li {
	margin-bottom: 5px;
}

aside .widget img {
	width: 220px;
}

/*Footer*/
footer {
	margin-top: 20px;
	width: 100%;
	float: left;
	clear: both;
	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background: #2f2f2f; /* Old browsers */
	background: -moz-linear-gradient(top, #2f2f2f 0%, #242424 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(linear, left top, left bottom color-stop(0%,#2f2f2f), color-stop(100%,#242424)); /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(top, #2f2f2f 0%,#242424 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: -o-linear-gradient(top, #2f2f2f 0%,#242424 100%);
	background: -ms-linear-gradient(top, #2f2f2f 0%,#242424 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}	 

footer section {
	width: 440px;
	float: left;
	padding: 20px;
}

footer #acerca-de {
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
	color:#8c8c8c;
	text-align: justify;
	line-height: 20px;
}

footer #acerca-de h3 {
	font-family: sourcesans-light;
	font-size: 20px;
	color: #fff;
	margin-bottom: 5px;
}

footer #redes-s > div {
	width: 220px;
	height: 60px;
	float: left;
	background: #ff8000;
	opacity: 0.7;
}

footer #redes-s > div a {
	width: 220px;
	height: 60px;
	display: inline-block;
}

footer #redes-s .email {
	background: url(../imagenes/correo.png);
}

footer #redes-s .twitter {
	background: url(../imagenes/twitter.png);
}

footer #redes-s .facebook {
	margin-top: 6px;
	background: url(../imagenes/facebook.png);
}

footer #redes-s .youtube {
	margin-top: 6px;
	background: url(../imagenes/youtube.png);
}

footer #redes-s > div:hover {
	opacity: 1;
}

#copyright {
	float: left;
	width: 960px;
	margin-top: 20px;
}

#copyright p {
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-family: Arial, Helvetica, Sans-serif;
}



/*--- Pagina de galeria ---*/
#galeria {
				width: 920px;
	float: left;
	padding: 20px;
	margin-top: 30px;
	background-image: url('../imagenes/fondogaleria.jpg');
	background-repeat: no-repeat;
	background-size: 960px 615px;
	margin: 20px 0px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 2px 3px #000;
	-moz-box-shadow:0px 2px 3px #000;
	-webkit-box-shadow: 0px 2px 3px #000;    
            }

	            /*Para que el contenedor muestre elementos aunque estos sean flotantes*/
	            #container:after {
	                content: " ";
	                display: block;
	                height: 0;
	                clear: both;
	            }

	            #container{
	                width: 90%;
	                margin:40px auto;
	            }

	            /*Estructura de cada componente de la galeria (imagen + descripcion)*/
	            #container div{
	                position: relative;
	                width: 28%;
	                height: auto;
	                -webkit-transform:rotate(-8deg);
	                display:inline;
	                float:left;
	                margin:5px 3% 5px 0;
	                z-index:1;
	                transition: width 1s, width 1s, top 1s;
	                -webkit-transition: -webkit-transform 1s, width 1s, top 1s;
	            }

	            /*Se rota ligeramente al posicionarnos encima del componente de la galeria (imagen + descripcion)*/


	            #container div:hover{
	            	opacity: 1;
	                -webkit-animation: rotate-img 1s;
	                -o-animation: rotate-img 1s;
	                -moz-animation: rotate-img 1s;
	                -ms-animation: rotate-img 1s;
	                animation: rotate-img 1s;
	                -webkit-transform:rotate(0deg);
	            }

	            #container div.select{
	                -webkit-transform:rotate(0deg);
	                position: fixed;	
	                width: 100%;
	                height: 100%;
	                top: 0;
	                left:0;
	                z-index:5;
	                background:rgba(0,0,0,0.5);
	                margin:0;
	            }

	            #container div.select img{
	                width: 56%;
	                height: auto;
	                box-shadow: 0 0 20px #DDD;
	                border: 5px solid #FFF;
	                position: fixed;	
	                top: 20%;
	                left:20%;
	            }

	            #container div.select + div{
	                margin: 5px 3% 5px 31%;
	            }

	            #container div img{
	                width: 100%;
	                height: auto;
	                box-shadow: 0 0 10px #666;
	                border: 5px solid #FFF
	            }

	            /*Estructura de la descripcion, por defecto no se muestra*/
	            #container div img ~ span{
	                width: auto;
	                opacity:0;
	                -webkit-transition: opacity 1s;
	                margin:0;
	                padding:5px 10px;
	                border-radius: 2px;
	                color:#000;
	                background:rgb(255, 255, 255);
	                text-align:center;
	                position: fixed;	
	                top: 20%;
	                left:20%;
	            }

	            /*Se muestra la descripcion al posicionar el cursor encima de la imagen*/
	            #container div.select img + span{
	                opacity:1;
	            }

	            /*Media query de ejemplo para pantallas de alta resolucion
	              pero pueden haber mas, este media query permite mostrar hasta 5 imagenes por filas
	            */
	            @media (min-width:1600px){
	                #container div{
	                    width: 15%;
	                }

	                #container div.select + div{
	                    margin: 5px 3% 5px 15%;
	                }

	            }

	            @keyframes rotate-img
	            {
	                0%   {transform:rotate(10deg);}
	            20%  {transform:rotate(-10deg);}
	            40%   {transform:rotate(12deg);}
	            60%  {transform:rotate(-12deg);}
	            80%   {transform:rotate(8deg);}
	            90%  {transform:rotate(-8deg);}
	            100%  {transform:rotate(0deg);}
	            }

	            @-moz-keyframes rotate-img
	            {
	                0%   {-moz-transform:rotate(10deg);}
	            20%  {-moz-transform:rotate(-10deg);}
	            40%   {-moz-transform:rotate(12deg);}
	            60%  {-moz-transform:rotate(-12deg);}
	            80%   {-moz-transform:rotate(8deg);}
	            90%  {-moz-transform:rotate(-8deg);}
	            100%  {-moz-transform:rotate(0deg);}
	            }

	            @-webkit-keyframes rotate-img
	            {
	                0%   {-webkit-transform:rotate(4deg);}
	            20%  {-webkit-transform:rotate(-4deg);}
	            40%   {-webkit-transform:rotate(3deg);}
	            60%  {-webkit-transform:rotate(-3deg);}
	            80%   {-webkit-transform:rotate(2deg);}
	            90%  {-webkit-transform:rotate(-2deg);}
	            100%  {-webkit-transform:rotate(0deg);}
	            }

/*--- Pagina de contacto ---*/

#mapa {
	float: left;
	margin-top: 30px;
}

#infoContacto {
	width: 422px;
	height: 375px;
	padding-top: 30px;
	background-color: #3C3C3C;
	margin-top: 30px;
	margin-left: 30px;
	float: left;

	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

/*- Formulario -*/

#nombre {
	font-family: "Times New Roman";
	height: 20px;
	width: 150px;
	margin-left: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#correo {
	font-family: "Times New Roman";
	height: 20px;
	width: 150px;margin-bottom: 10px;
}

#preguntas {
	margin-left: 50px;
	font-family: "Times New Roman";
	height: 120px;
	width: 316px;
	margin-bottom: 10px;
}

#enviar {
	margin-left: 180px;
}

#info {
	font-size: 17px;
	color: #EEE0E0;
	text-align: center;
	font-family: "Times New Roman";
}

#pregu {
	font-family: "Times New Roman";
}


/*---Pagina de noticias---*/
#noticias {
	font-family: "Times New Roman";
	width: 920px;
	float: left;
	padding: 20px;
	margin-top: 30px;
	background-image: url('../imagenes/fondogris.png');
	background-size: 960px 600px;
	margin: 20px 0px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 2px 3px #000;
	-moz-box-shadow:0px 2px 3px #000;
	-webkit-box-shadow: 0px 2px 3px #000;  
}

.imgnoti {
	margin-left: 40px;
	margin-bottom: 30px;
	margin-right: 20px;
	width: 250px;
	height: 200px;
}

#noticias p {
	color: #8c8c8c;
	font-size: 15px;
}

#noticias a {
	font-size: 20px;
}

#noticias a:hover {
	color: silver;
	font-size: 25px;
}

/*---Pagina de videos---*/
#videos {
	font-family: "Times New Roman";
	width: 920px;
	float: left;
	padding: 20px;
	margin-top: 30px;
	background-image: url('../imagenes/control2.jpg');
	background-size: 960px 600px;
	margin: 20px 0px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 2px 3px #000;
	-moz-box-shadow:0px 2px 3px #000;
	-webkit-box-shadow: 0px 2px 3px #000; 
}

#videos p {
	margin-left: 40px; 
	margin-top: 30px; 
	font-size: 30px; 
	margin-left: 40px; 
	margin-top: 30px; 
	font-size: 30px; 
	color: blue;
	font-family: "Arial";
}

#videos p:hover {
	color: red;
	font-size: 50px;
}

#videos div {
	margin-left: 40px;
	margin-top: 20px;
}

/*---Pagina de productos---*/

#productos {
	font-family: "Times New Roman";
	width: 920px;
	float: left;
	padding: 20px;
	margin-top: 30px;
	background-image: url('../imagenes/fondopro.jpg');
	background-size: 960px 600px;
	margin: 20px 0px;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 2px 3px #000;
	-moz-box-shadow:0px 2px 3px #000;
	-webkit-box-shadow: 0px 2px 3px #000; 
}

.tienda {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 190px;
	height: 190px;
}

#productos {
	color: #fff;
	font-size: 20px;
}